/* ---------- 폰트 ---------- */

/* ----------- 노멀라이즈 ---------- */
body,
ul,
li,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

span,
img {
    display: block;
}

body {
    color: #222;
}

:root {
    --main-font-color: #222;
    --font-size-base: 16px;
    --spacing-lg: 40px;
}