/* ---------- 폰트 ---------- */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* ----------- 노멀라이즈 ---------- */
body,
ul,
li,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

img {
    display: block;
}

body {
    color: #222;
    font-family: 'pretendard';
    /* background-color: darkgreen; */
}

:root {
    --fw-eb: 800;
    --fw-b: 700;
    --fw-sb: 600;
    --fw-m: 500;
    --fw-r: 400;

    --bg-red: #F13525;
    --color-main: #ff0000;
}


/* @media (max-width:1200px) and (min-width:769px) {

        }

        @media (max-width:768px) and (min-width:551px) {
        }

        @media (max-width:550px) {
        } */